<section class="bg-primary" id="effects">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Repercussions on the city</h2>
                <hr class="light">
                <img src="img/downtown_chicago_wallpaper_001.jpg" alt="City" width="700", height = 300>
                <hr class="light">
                <p class="text-faded">
                    After looking at the more dangerous areas in Chicago in terms of crime rate, we will try to see if there is a relation between the high crime rate of an area and other factors that correspond to the quality of life such as the quality of restaurants, and the number of flu clinics. Moreover we'll try to determine if those zones are in general very frequented or not by using our Taxi Rides history. To perform our analysis, we decided to consider Chicago at the level of its Communitiy Areas.
                </p>
                <h3> Flu Clinics</h3>
                <p class="text-faded">
                    Below is the geographical distribution of the Flu Clinics accross the city :
                </p>
                <iframe src="img/clinics.html" width="750" height="450"></iframe>
                <p class="text-faded">
                    <br></br>
                        By looking at the geographical distribution of the clinics in Chicago, we can see that there is bigger amount of clinics that gave flu vaccines in the Northern West part of the city. There is a clear difference between North and South by means of the number of clinics. We can then suppose that the Northern part is wealthier than the Southern part.  areas 32, 8, and 6 are the ones with the most number of clinics. We can assume that those areas which are close to the lake are wealthier than the ones in the East Side or South. Our assumption is valid as the most frequent crime in those areas is Theft.
                </p>
                <h3> Food Inspection</h3>
                <p class="text-faded">
                        We now try to look at food quality accross the areas of Chicago :
                </p>
                <iframe src="img/food.html" width="750" height="450"></iframe>
                <p class="text-faded">
                        <br></br>
                        By looking at the ratio of failed inspections, we can see that now area 32 and 8 have a good ratio compared to area 25 and more southern areas around area 40 and area 53 and 54. As Eastern and Southern areas didn't contain many flu clinics, it supports our hypothesis that those areas are more poor and therefore quality of restaurants by means of failed inspections is inferior, compared to the wealthier Western North areas.
                    </p>
                    <h3> Taxi Rides</h3>
                    <iframe src="img/taxi.html" width="750" height="450"></iframe>
                    <p class="text-faded">
                            <br></br>
                            Finally, by looking at the most frequented areas in taxis, we observe the same pattern. Area 8 and 32 are the most frequented which means more points of interest in those areas. This is the wealth center of the city with a good quality of restaurants and more flu clinics than the rest of the city. Paradoxaly, it is a dangerous zone too. On the other hand, the area 25 (Austin) is one of the less frequented areas and has poorer quality of restaurants. It is the most dangerous zone in Chicago. We can therefore assume the this crime is related to the lack of wealth and therefore the most common crimes are not theft but Narcotics which is common for poor areas.
                        </p>
            </div>
        </div>
    </div>
</section>