<section class="bg-primary" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading text-center">Conclusion</h1>
                <hr class="light">

                <p >
                    Through this analysis, we learned a lot about Crime in Chicago, its distribution over the city.
                    We were able to find the areas where organized crime types are reported more frequently.
                    We also observed correlations between life quality factors and criminality is multiple areas.
                    With the help of the datasets provided by the city of Chicago, we built meaningful models that could help to solve real-world problems.
                </p>


                <hr class="light">
                <p>
                    This data analysis was done as a project for the course
                    <a href="https://dlab.epfl.ch/teaching/fall2019/cs401/" style="color: antiquewhite"> Applied Data Analysis 2019 at EPFL </a>.
                    To learn more, please visit our github repository with full analysis and details about the used datasets.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/{{ site.github_username }}" style="color: white">
                    <i class="fa fa-github fa-3x wow bounceIn"></i>
                    <p style="color: antiquewhite">{{ site.github_username }}</p>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Contributors : Louis Amaudruz, Maxence Jouve, Rayane Laraki, and Pierre Schutz</p>
            </div>

        </div>

    </div>


</section>