<section class="bg-primary" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">EPFL ADA 2019 Course Project</h2>
                <hr class="primary">
                <p>
                    This data analysis was done as a project for the course
                    <a href="https://dlab.epfl.ch/teaching/fall2019/cs401/" style="color: antiquewhite"> Applied Data Analysis 2019 at EPFL </a>.
                    To learn more, please visit our github repository with full analysis and details about the used datasets.
                </p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="https://github.com/{{ site.github_username }}" style="color: white">
                    <i class="fa fa-github fa-3x wow bounceIn"></i>
                    <p style="color: antiquewhite">{{ site.github_username }}</p>
                </a>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>Contributors : Louis Amaudruz, Maxence Jouve, Rayane Laraki, and Pierre Schutz</p>
            </div>

        </div>

    </div>


</section>