<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Introduction</h2>
                <hr class="light">
                <p class="text-faded">The iconic city of Chicago (Illinois), is widely known for its crime.
                    Surnamed Chirac because of it's crime rate comparable to the war in Irak,
                    also known for Al Capone and it's Chicago outfit during the prohibition,
                    Fred Hampton's assassination by the city's police or the sudden rise of crime in 2015 make Chicago's crime an interesting subject to study. <br> <br>
                    Through this study of 20 years of crime, we want to bring insights on the crime evolution, geographical distribution,
                    and effects on the city with an unbiased and apolitical approach to give people a fair idea of the safety of the city and its implications.</p>

                <hr class="light">

                <p class="text-faded">
                    Our analysis is divided into three part. We will first look at the crime inside the city of Chicago.
                    <br>
                    Then, based on our first analysis, we try to observe the effects of the crime on the city through different aspects such as taxi drives, health, food inspections.
                    <br>
                    Finally, in order to give a more tangible utility of our project,
                    we provide different predictive models for the crime in chicago that could be used by the police, citizens, and others.
                    Those models aims to evaluate potential arrests probability or danger in some location or type of crimes based on location and time.


                </p>
            </div>
        </div>
    </div>
</section>