<section class="bg-primary" id="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h1 class="section-heading">Introduction</h1>
                <hr class="light">
                <p class="text-faded" style="text-align: justify;">The iconic city of Chicago (Illinois), is widely known for its crime.
                    It was surnamed 'Chirak' because of its crime rate comparable to the war in Irak.
                    Also known for Al Capone and it's 'Chicago Outfit' gang during the prohibition,
                    Fred Hampton's assassination by the city's police or the sudden rise of crime in 2015, Chicago's crime is an interesting subject to study. <br> <br>
                    Through this study of 20 years of crime, we want to bring insights on the crime evolution, geographical distribution,
                    and effects on the city with an unbiased and apolitical approach to give people a fair idea of the safety of the city.</p>

                <hr class="light">

                <p class="text-faded" style="text-align: justify;">
                    Our analysis is divided into three parts. We will first look at the crime inside the city of Chicago.
                    <br>
                    Then, based on our first analysis, we try to observe relationships between crime and aspects of life quality such as health and safety of restaurants.
                    <br>
                    Finally, we will provide two predictive models for the crime in Chicago that could be used by the police, citizens, and others.
                    Those models aim to evaluate potential arrest probability or most likely crime given a location and a time.


                </p>
            </div>
        </div>
    </div>
</section>