<section id="models">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center" style="text-align: justify;">
                <h1 class="section-heading text-center">Predictive Models</h1>
                <br>
                <img src="img/chicago-models.jpg" alt="ML models" width="750" height="450">
                <hr>
                <p class="text-muted">
                    Now that we have extracted meaningful data from our crime dataset, and got a better understanding of
                    the situation,
                    we would like to build tools that could help police and citizens by detecting patterns in the crime
                    of Chicago. <br>
                    To do so, we are modeling our dataset for different purposes using a variety of machine learning
                    methods. The idea is to build two kinds of models:

                </p>

                <ul class="text-muted" style="font-size: 16px;">
                    <li>
                        <b>Arrest prediction model:</b> This model will try to, given the various information of a
                        crime that is available to
                        our crime dataset and which might correspond to the amount of information the authority would
                        have about a recent unsolved crime,
                        return the probability of the culprit of the crime being arrested.
                        As an example, this model could be used to help the Police spread their forces more efficiently around the city.
                    </li>

                    <li>
                        <b>Crime type prediction model:</b> The goal of this model would be to give the probability of
                        the type of crimes
                        given again the data of the crime dataset except the Description (obviously it is highly
                        correlated to the type of crime)
                        and the Arrest (usually if we want to know the type of crime, the culprit isn't arrested).
                        This model could be useful in several ways, for instance, the police might find it useful for
                        knowing
                        what to expect of a potential crime in a given location.
                        This model could help Police to reduce most frequents crimes type by strengthening the patrols in certain areas, during certain periods.
                    </li>
                </ul>


                <p class="text-muted">
                    In order to present those two models, we decided to let the ability for the user to select a few
                    parameters and observe the results of our models. The other parameters have been set such that for categorical features,
                    it is the most frequent one, and for continuous features, we took the average. Finally, the date choose is the latest one with sufficient data (2018).
                    Also, the most violent area was determined in our analysis, it corresponds to the Austin area (code 25).<br> <br>
                </p>

                <hr>

                <h2 class="text-center">Arrest model</h2>

                <label for="arrest_months">Select month:</label>
                <select id="arrest_months">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>

                <br>

                <label for="arrest_areas">Select area:</label>
                <select id="arrest_areas">
                    <option value="32">Downtown</option>
                    <option value="76">Airport area</option>
                    <option value="41">University area</option>
                    <option value="25">Most violent area</option>
                </select>

                <br>


                <label for="arrest_types">Select crime type:</label>
                <select id="arrest_types">
                    <option value="NARCOTICS">Narcotics</option>
                    <option value="THEFT">Theft</option>
                    <option value="HOMICIDE">Homicide</option>
                    <option value="BATTERY">Battery</option>
                </select>

                <div id="arrest_image_container" height="600"></div>

                <br>

                <p class="text-muted">
                    As we can observe, people arrested for Narcotics had to be caught red-handed because no-one may report drug-related crimes.
                    Thus, our model is likely to predict that a narcotics-related crime will result in an arrest.
                    Whereas for most of the thefts, the culprit is not arrested. This isn't a surprise as most theft reports are made by the victim after the event.
                    We finally observe that the month of the year doesn't affect the arrest probability.
                </p>

                <hr>

                <h2 class="text-center">Crime type model</h2>


                <label for="type_months">Select month:</label>
                <select id="type_months">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>

                <br>

                <label for="type_areas">Select area:</label>
                <select id="type_areas">
                    <option value="32">Downtown</option>
                    <option value="76">Airport area</option>
                    <option value="41">University area</option>
                    <option value="25">Most violent area</option>
                </select>

                <br>

                <div id="type_image_container" height="600"></div>

                <br>


                <p class="text-muted">
                    We can observe that for the second model, the summer months have different main crime types than the rest of the year.
                    Therefore, during this period, the Police should adapt to this change.
                </p>


            </div>
        </div>
    </div>
</section>


<script>

    function buildArrestUrl() {
        return  "img/arrest/"
            + document.getElementById('arrest_months').value + '/'
            + document.getElementById('arrest_areas').value + '/'
            + document.getElementById('arrest_types').value + '/image.png';
    }

    function buildTypeUrl() {
        return "img/type/"
            + document.getElementById('type_months').value + '/'
            + document.getElementById('type_areas').value + '/image.png';
    }

    function updateArrest() {
        document.getElementById("arrest_image_container").firstChild.src = buildArrestUrl();
    }

    function updateType() {
        document.getElementById("type_image_container").firstChild.src = buildTypeUrl();
    }

    let arrestImg = document.createElement('img');
    let typeImg = document.createElement('img');

    arrestImg.src = buildArrestUrl();
    arrestImg.width = 750;
    typeImg.src = buildTypeUrl();
    typeImg.width = 750;

    document.getElementById("arrest_image_container").appendChild(arrestImg);
    document.getElementById("type_image_container").appendChild(typeImg);


    document.getElementById('arrest_months').addEventListener("change", updateArrest);
    document.getElementById('arrest_areas').addEventListener("change", updateArrest);
    document.getElementById('arrest_types').addEventListener("change", updateArrest);

    document.getElementById('type_months').addEventListener("change", updateType);
    document.getElementById('type_areas').addEventListener("change", updateType);


</script>